.setupFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 1em;
    background-color: #000;
}

.text-bold {
    font-weight: bold;
}
.tooltip.show /* The CSS classes that the tooltip has */ {
    opacity: 0.7; !important; /* or whatever */
}