#Options +FollowSymlinks
Order allow,deny
Allow from all

# custom error page
ErrorDocument 404 ../content/errors/404.html

RewriteEngine on
RewriteCond %{REQUEST_URI} /(.*).html
RewriteRule ^(.*).html$ \index.php?include=$1
# Rewrite .html - no extension needed e.g. you can use http://www.yoursite/gallery instead of /gallery.html
RewriteRule ^([^\.]+)$ \index.php?page=$1 [NC,L]

# off for tinymce
#RewriteRule ^(.*).htm$ \index.php?include=$1

# SESSION TIMEOUT 7200 = 120 Minutes
<IfModule mod_php5.c>
    # neverending session
    php_value session.cookie_lifetime 0
    php_value session.gc_maxlifetime 0
</IfModule>
