/*
 * Skin: poker
 * ------------
 */
.skin-poker .main-header .navbar {
  background-color: #257F00;
}
.skin-poker .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-poker .main-header .navbar .nav > li > a:hover,
.skin-poker .main-header .navbar .nav > li > a:active,
.skin-poker .main-header .navbar .nav > li > a:focus,
.skin-poker .main-header .navbar .nav .open > a,
.skin-poker .main-header .navbar .nav .open > a:hover,
.skin-poker .main-header .navbar .nav .open > a:focus,
.skin-poker .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-poker .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-poker .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-poker .main-header .navbar .sidebar-toggle {
  color: #FFFFFD;
}
.skin-poker .main-header .navbar .sidebar-toggle:hover {
  background-color: #257F00;
}
@media (max-width: 767px) {
  .skin-poker .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-poker .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-poker .main-header .navbar .dropdown-menu li a:hover {
    background: #e08e0b;
  }
}
.skin-poker .main-header .logo {
  background-color: #257F00;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-poker .main-header .logo:hover {
  background-color: #257F00;
}
.skin-poker .main-header li.user-header {
  background-color: #257F00;
}
.skin-poker .content-header {
  background: transparent;
}
.skin-poker .wrapper,
.skin-poker .main-sidebar,
.skin-poker .left-side {
  background-color: #154800;
}
.skin-poker .user-panel > .info,
.skin-poker .user-panel > .info > a {
  color: #fff;
}
.skin-poker .sidebar-menu > li.header {
  color: #FFFFFD;
  background: #0F3300;
}
.skin-poker .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-poker .sidebar-menu > li:hover > a {
  color: #FFFFFD;
  background: #0F3300;
  border-left-color: #3ED400;
}
.skin-poker .sidebar-menu > li.active > a {
  color: #FFFFFD;
  background: #0F3300;
  border-left-color: #3ED400;
}
.skin-poker .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #0F3300;
}
.skin-poker .sidebar a {
  color: #FFFFFD;
}
.skin-poker .sidebar a:hover {
  text-decoration: none;
}
.skin-poker .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-poker .treeview-menu > li.active > a,
.skin-poker .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-poker .sidebar-form {
  border-radius: 3px;
  border: 1px solid #000;
  margin: 10px 10px;
}
.skin-poker .sidebar-form input[type="text"],
.skin-poker .sidebar-form .btn {
  box-shadow: none;
  background-color: #FFFFFD;
  border: 1px solid transparent;
  height: 35px;
}
.skin-poker .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-poker .sidebar-form input[type="text"]:focus,
.skin-poker .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-poker .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-poker .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #f1f1f1;
  z-index: 800;
}